@model ManicureBooking.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Szegóły usługi</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>
        <dt class="col-sm-2">
            Zdjęcie
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="~/images/@Model.ImagePath" style="max-width: 300px; border-radius: 8px;" alt="Zdjęcie usługi" />
            }
            else
            {
                <span class="text-muted">Brak zdjęcia</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId" class="btn-hover btn-hover2 color-10">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
