@model IEnumerable<ManicureBooking.Models.Service>

@{
    ViewData["Title"] = "Cennik usług";
}

<h1>Cennik usług</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj nową usługę</a>
</p>
<table class="table align-middle">
    <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.DurationInMinutes)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="~/images/@item.ImagePath" style="width:100px; border-radius: 8px;" alt="Zdjęcie" />
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.DurationInMinutes)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>